@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Nanum+Myeongjo&display=swap");
/* EN   font-family: Crimson Pro", serif */
/* KO   font-family: "Nanum Myeongjo", serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Myeongjo", serif;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  font-size: 30px !important;
  color: #333;
}

.swiper-pagination-bullet-active {
  background: #333 !important;
}

.MuiBox-root {
  outline: none;
}
